@media only screen and (min-width: 992px) {
  order-md-2{
    order: 1;
  }
  .section{
    padding-top: 10vh !important;
    & .row{
      margin-top: 80px !important;
      border-bottom: 1px solid lightgrey;
      padding-bottom: 50px !important;
    }
    & h1{
      font-size: 2.5rem;
    }
    & p{
      font-size: 1.5rem;
    }
  }
}
@media only screen and (max-width: 667px) {
  .img2 {
    width: 100% !important;
  }
}
