<div class="section mt-5 text-center" id="cv">
  <div class="w-100 row mt-5 text-start">
    <div class="col-lg-8">
      <h1 class="text-center text-md-start mt-md-5">Lập trình Web</h1>
      <p>
        Tôi và team của tôi thiết kế, lập trình website theo yêu cầu của khách hàng.
        Hoàn toàn hand code nên phù hợp với các website có tính năng chuyên biệt, đặc thù.
      </p>
    </div>
    <div class="col-lg-4 text-center text-md-start">
      <img src="assets/img/img-content/img-content-1.png" >
    </div>
  </div>
  <div class="w-100 row mt-5 text-start">
    <div class="col-lg-8 order-md-2 mt-md-5 mx-md-0">
      <h1 class="text-center text-md-start">Sáng tạo nội dung</h1>
      <p>
        Tôi làm mọi thứ liên quan đến việc sáng tạo ra nội dung (content writing) trên nhiều chủ đề khác nhau.
        Viết bài đảm bảo mật độ keyword theo yêu cầu SEO của bạn, tôi có thể viết sê-ri bài dài kỳ.
      </p>
    </div>
    <div class="col-lg-4 order-md-1 text-center text-md-start">
      <img src="assets/img/img-content/img-content-2.png" class="img2">
    </div>
  </div>
  <div class="w-100 row mt-5 text-start">
    <div class="col-lg-8">
      <h1 class="text-center text-md-start mt-md-5">Viết về cuộc sống</h1>
      <p>
        Tôi viết về những gì tôi đam mê, công nghệ, âm nhạc và những chuyến đi.
        Tôi viết về cuộc sống, tình bạn, tình yêu, những gì tôi nghe, thấy và cảm nhận.
      </p>
    </div>
    <div class="col-lg-4 text-center text-md-start">
      <img src="assets/img/img-content/img-content-3.png">
    </div>
  </div>
  <div class="w-100 row mt-5 text-start" style="display: flex">
    <div class="col-lg-8 order-md-2 mt-md-5">
      <h1 class="text-center text-md-start">Làm những gì tôi thích</h1>
      <p>
        Tôi yêu thích lập trình và thể thao, ca hát và nghiên cứu công nghệ.
        Tôi viết blog lập trình cuộc sống, tôi live stream chia sẻ trên youtube.
      </p>
    </div>
    <div class="col-lg-4 order-md-1 text-center text-md-start">
      <img src="assets/img/img-content/img-content-4.png" >
    </div>
  </div>
</div>
