.dropdown:hover>.dropdown-menu {
  display: block;
}
.dropdown>.dropdown-toggle:active {
  pointer-events: none;
}
nav{
  width: 100%;
  height: 100px;
  background-color: rgb(255,255,255,0.8) !important;
  border-bottom: 1px solid lightgrey !important;
}
.logo{
  font-size: 2rem;
  font-weight: 1000;
}
i{
  font-size: 1.5rem;
}
.navbar-nav a{
  font-size: 1.3rem;
  font-weight: 400;
}
@media only screen and (min-width: 992px) {
  .sticky{
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: rgb(245,245,245,0.8) !important;
    z-index: 100;
  }
  .dropdown-menu{
    border: none;
  }
}
@media only screen and (max-width: 992px){
  .icon-logo{
    display: none !important;
  }
  #navbarNavDropdown{
    background-color: rgba(255,255,255,0.8);
  }
  #dropdownMenuButton{
    background-color: rgba(255,255,255,0.1) !important;
    border: none;
    transition: 0.1ms;
  }
  a{
    color: black !important;
  }
}
