<div class="container">
  <div class="d-md-flex pt-5 pb-5">
    <div class="col-md-4 bg-light">
      <div class="text-center">
        <h5 class="text-uppercase mt-5" style="font-size: 2.1rem">Nguyen Thai Hoc</h5>
      </div>
      <div class="text-center">
        <img src="assets/img/avatar/avatar-header-2.jpg" width="250" style="border-radius: 1000px" class="mx-lg-5 mt-3">
      </div>
      <div class="mt-5 mx-4">
        <!--Handle contact information-->
        <h6 class="fz-3">Contact information</h6>
        <div class="mt-3">
          <i class="far fa-calendar-alt"></i>
          <span class="mx-2">20/08/2001</span>
        </div>
        <div class="mt-2">
          <i class="fas fa-user"></i>
          <span class="mx-2">Nam</span>
        </div>
        <div class="mt-2">
          <i class="fas fa-mobile-alt"></i>
          <span class="mx-2">(+84) 942 221 865</span>
        </div>
        <div class="mt-2">
          <i class="far fa-envelope"></i>
          <span class="mx-2">thaihoc95x@gmail.com</span>
        </div>
        <div class="mt-2">
          <i class="fas fa-home"></i>
          <span class="mx-2">My Thuy - Le Thuy - Quang Binh</span>
        </div>
        <div class="mt-2">
          <i class="fas fa-globe-asia"></i>
          <span class="mx-2">thaihocblog.xyz</span>
        </div>
        <hr class="mt-4"/>
        <!--Handle skill-->
        <h6 class="fz-3">Skill</h6>
        <h6 class="mt-3">Programming</h6>
        <div class="pt-2">
          <p class="fw-light mb-1">Javascript</p>
          <div class="progress" style="height: 10px">
            <div class="progress-bar bg-success" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>
          </div>
        </div>
        <div class="pt-2">
          <p class="fw-light mb-1">Java</p>
          <div class="progress" style="height: 10px">
            <div class="progress-bar bg-success" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50%</div>
          </div>
        </div>
        <div class="pt-2">
          <p class="fw-light mb-1">SQL</p>
          <div class="progress" style="height: 10px">
            <div class="progress-bar bg-success" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
          </div>
        </div>
        <div class="pt-2">
          <p class="fw-light mb-1">MongoDB</p>
          <div class="progress" style="height: 10px">
            <div class="progress-bar bg-success" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
          </div>
        </div>
        <h6 class="mt-4">Framework</h6>
        <div class="pt-2">
          <p class="fw-light mb-1">Angular</p>
          <div class="progress" style="height: 10px">
            <div class="progress-bar bg-success" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
          </div>
        </div>
        <div class="pt-2">
          <p class="fw-light mb-1">NodeJS</p>
          <div class="progress" style="height: 10px">
            <div class="progress-bar bg-success" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
          </div>
        </div>
        <h6 class="mt-4">Algorithm</h6>
        <p class="pt-2 fw-light">
          Master algorithm and can apply them into project
        </p>
        <h6 class="mt-4">Other</h6>
        <div class="pt-2">
          <p class="fw-light mb-1">English</p>
          <div class="progress" style="height: 10px">
            <div class="progress-bar bg-success" role="progressbar" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">40%</div>
          </div>
        </div>
        <div class="pt-2">
          <p class="fw-light mb-1">Soft skill</p>
          <div class="progress" style="height: 10px">
            <div class="progress-bar bg-success" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">60%</div>
          </div>
        </div>
        <div class="pt-2">
          <p class="fw-light mb-1">Teamwork</p>
          <div class="progress" style="height: 10px">
            <div class="progress-bar bg-success" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
          </div>
        </div>
        <hr class="mt-4" />
        <h6 class="mt-4 fz-3">Interests</h6>
        <p class="mt-2 fw-light mb-1">Listen to music, sport, reading books, Coding,...</p>
      </div>
    </div>
    <div class="col-md-8 mx-5">
      <div class="mt-5 col-md-9">
        <h6 class="fw-bolder" style="font-size: 1.5rem">Objective</h6>
        <p class="mt-3">
          With logical thinking skills & a creative mindset,
          I want to become one of the key members who bring an effective IT solution to the customers.
          At the same time, I want to improve my knowledge through your professional working environment.
        </p>
      </div>
      <hr class="mt-5"/>
      <div class="mt-5 col-9">
        <h6 class="fw-bolder" style="font-size: 1.5rem">Education</h6>
        <div class="d-flex">
          <div class="col-9">
            <p class="fw-bolder mt-3" style="font-size: 1.3rem">Industrial University</p>
          </div>
          <div class="col-3">
            <p class="fw-light mt-3">10/2019 - ?</p>
          </div>
        </div>
        <p>Major: Software engineer</p>
        <p class="fw-bolder">Description:</p>
        <p>
          Currently, I am a 3rd year student of Industrial University of Ho Chi Minh City.
          Here I have learned a lot of knowledge about programming languages, and professions related to software engineering.
        </p>
      </div>
      <hr class="mt-5"/>
      <div class="mt-5 col-9">
        <h6 class="fw-bolder" style="font-size: 1.5rem">Work experience</h6>
        <p class="fw-bolder mt-4"style="font-size: 1.3rem">Product Developer</p>
        <p class="fw-bolder" style="font-size: 1.2rem" >1.Coding club social</p>
        <p>- UX/UI Direction</p>
        <P>- Web development</P>
        <p class="fw-bolder">Description:</p>
        <p>
          This is my first team project with coding club members.
        </p>

        <p class="fw-bolder" style="font-size: 1.2rem">2.Ucare</p>
        <p>- UX/UI Direction</p>
        <P>- Web development</P>
        <p class="fw-bolder">Description:</p>
        <p>
          This is the biggest project and also the first professional project that I participated in with the experienced brothers and sisters,
          through this project I have learned a lot from the way of working and organization a real project.
        </p>
        <hr class="mt-5"/>
        <h6 class="fw-bolder" style="font-size: 1.5rem">Career Objective</h6>
        <p class="mt-4">
          The goal in the next 1 year I will become a programmer Font-end developer and learn more about mobile programming
        </p>
      </div>
    </div>
  </div>
</div>
