<div class="my-5" id="ttm">
  <div class="text-center">
    <h1>NÓI VỀ TÔI</h1>
  </div>
  <div id="carouselTTM" class="carousel slide"  data-interval="3000" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselTTM" data-slide-to="0" class="active"></li>
      <li data-target="#carouselTTM" data-slide-to="1"></li>
      <li data-target="#carouselTTM" data-slide-to="2"></li>
      <li data-target="#carouselTTM" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner bg-light text-center" style="height: 40vh">
      <div class="carousel-item active mt-5">
        <h3>Tôi là Nguyễn Thái Học</h3>
        <p>Sinh ngày 20/08/2001</p>
        <p>Sinh ra và lớn lên ở Quảng Bình</p>
        <p>Hiện tại đang học tập và sinh sống tại TP Hồ Chí Minh</p>
      </div>
      <div class="carousel-item mt-5">
        <h1>Nơi làm việc</h1>
        <p>Hiện tại tôi là sinh viên năm 2 của trường Đại Học Công Nghiệp TP HCM</p>
        <p>Chuyên nghành của tôi là Kỹ Thuật Phần Mềm (Software Engineer)</p>
        <p>Tôi làm freelancer chỉ cần có tiền là tôi sẽ làm</p>
      </div>
      <div class="carousel-item mt-5">
        <h1>Sở Thích</h1>
        <p>Tiền</p>
        <p>Ngoài ra còn có niềm yêu thích sâu sắc đối với âm nhạc</p>
        <p>Thích thể thao, chơi được khá nhiều môn thể thao nhưng không có môn nào xuất sắc</p>
        <p>Game là thứ giúp tôi xã stress và tôi cũng khá thích nó</p>
        <p></p>
      </div>
      <div class="carousel-item mt-5">
        <h1>SKILLS</h1>
        <p>Thế mạnh của tôi là làm Web</p>
        <p>Framework yêu thích của tôi là Angular (tôi đến với nó cũng đầy sự gian nan và thử thách)</p>
        <p>Có thể thích nghi và tiếp thu nhanh những công nghệ mới</p>
        <p></p>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselTTM" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true" style="z-index: 100; color: black; font-size: 2rem;">
        <i class="fa fa-chevron-left" aria-hidden="true" ></i>
      </span>
    </a>
    <a class="carousel-control-next" href="#carouselTTM" role="button" data-slide="next">
      <span class="carousel-control-prev-icon" aria-hidden="true" style="z-index: 100; color: black; font-size: 2rem;">
        <i class="fa fa-chevron-right" aria-hidden="true" ></i>
      </span>
    </a>
  </div>
</div>
