<div class="header row pt-lg-5">
  <div class="col-xl-4 mt-lg-5 text-center pt-lg-5">
    <img src="assets/img/avatar/avatar-header-2.jpg" width="400" style="border-radius: 1000px" class="mx-lg-5">
  </div>
  <div class="col-xl-7 text-center mt-lg-5 pt-lg-5 mx-lg-5">
    <h1 class="mt-5">Nguyễn Thái Học</h1>
    <h5>Fresher Web Devoloper && Student IUH University</h5>
    <p class="mt-5">Xin chào ! tôi là Thái Học tôi làm freelancer thiết kế web và sáng tạo nội dung. <br> Nếu bạn cần tôi hãy kết nối !</p>
    <div class="d-flex justify-content-center">
      <a class="nav-link" href="#">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
      <a class="nav-link" href="#">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
      <a class="nav-link" href="#">
        <i class="fa fa-youtube-play" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
