<div class="container mb-5">
  <form name="formLogin" [formGroup]="infoFormPrivateCofide" (ngSubmit)="onSubmit()" class="pt-4">
    <div class="reg-form form-group">
      <label for="name">
        <p class="text-uppercase fw-light mb-1">Tên của bạn</p>
      </label>
      <input
        class="form-control"
        type = "text"
        name="name"
        formControlName="name"
        required
        id="name"
      >
    </div>
    <div class="reg-form form-group my-3">
      <label for="message">
        <p class="text-uppercase fw-light mb-1">Nội dung muốn gửi đến tôi</p>
      </label>
      <textarea
        class="form-control"
        type = "text"
        name="message"
        formControlName="message"
        required
        id="message"
        style="height: 200px"
      >
      </textarea>
    </div>
    <div class="">
      <button class="btn btn-dark mt-3 text-uppercase fw-light">
        Gửi cho học
      </button>
    </div>
  </form>
</div>
