<div class="container mb-5">
  <div class="my-3" style="border-bottom: 1px solid black">
    <div class="mb-5">
      <div class="d-flex">
        <div>
          <img src="assets/img/avatar/avatar-header-2.jpg" width="50" height="50" style="border-radius: 100px">
        </div>
        <div class="mx-2">
          <p class="my-auto m-0">Thái Học</p>
          <p>2 giờ trước</p>
        </div>
      </div>
      <div class="content-message">
        <p>
          Nếu bạn sử dụng một ứng dụng như SoundCloud, thì thay vì chỉ thích mọi bài hát và để chúng ngồi trong phần
          "Các bản nhạc được yêu thích" được hiển thị công khai, tại sao bạn không sắp xếp một số mục yêu thích đó vào danh sách phát?
          Ví dụ, hãy xem danh sách phát "Đã bắt đầu trên Spotify" - đó là một cách tuyệt vời để duy trì các giai điệu.
        </p>
      </div>
    </div>
  </div>
  <form name="formLogin" [formGroup]="infoFormPublicCofide" (ngSubmit)="onSubmit()" class="pt-2">
    <div class="reg-form form-group">
      <label for="name">
        <p class="text-uppercase fw-light mb-1">Tên của bạn</p>
      </label>
      <input
        class="form-control"
        type = "text"
        name="name"
        formControlName="name"
        required
        id="name"
      >
    </div>
    <div class="reg-form form-group my-3">
      <label for="message">
        <p class="text-uppercase fw-light mb-1">Nội dung muốn gửi đến tôi</p>
      </label>
      <textarea
        class="form-control"
        type = "text"
        name="message"
        formControlName="message"
        required
        id="message"
        style="height: 100px"
      >
      </textarea>
    </div>
    <div class="">
      <button class="btn btn-dark mt-3 text-uppercase fw-light">
        Gửi cho học
      </button>
    </div>
  </form>
</div>
