<footer class="text-center text-lg-start bg-light text-muted">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="me-5 d-none d-lg-block">
      <span></span>
    </div>
    <div>
      <a href="https://www.facebook.com/thaihoc.nguyen.5473/" class="me-4 text-reset">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-google"></i>
      </a>
      <a href="https://www.instagram.com/thaihoc2001/" class="me-4 text-reset">
        <i class="fa fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-linkedin"></i>
      </a>
      <a href="https://github.com/thaihoc2001" class="me-4 text-reset">
        <i class="fa fa-github"></i>
      </a>
    </div>
  </section>
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <div class="text-center d-md-flex">
            <img src="assets/img/avatar/logo-1-cut.jpg" width="100">
            <h5 class="text-uppercase fw-bold mb-4 mt-md-5 mx-lg-2">
              THÁI HỌC BLOG
            </h5>
          </div>
          <p class="mt-3">
            Blog này được tạo ra nhằm mục đích học tập và giới thiệu bản thân. Tuy còn nhiều hạn chế nhưng mình sẽ cố gắng update theo thời gian để trang web được hoàn chỉnh hơn
          </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            SKILLS
          </h6>
          <p>
            <a class="text-reset text-decoration-none">ANGULAR</a>
          </p>
          <p>
            <a class="text-reset text-decoration-none">HTML,CSS,JS,TS</a>
          </p>
          <p>
            <a class="text-reset text-decoration-none">NODE JS</a>
          </p>
          <p>
            <a class="text-reset text-decoration-none">SQL</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            CONTACT
          </h6>
          <p><i class="fa fa-home me-3"></i> 65 Nguyễn Văn Trỗi - Quận Phú Nhuận - TP Hồ Chí Minh</p>
          <p>
            <i class="fa fa-envelope me-3"></i>
            thaihoc95x@gmail.com
          </p>
          <p><i class="fa fa-phone me-3"></i> + 094 222 xxxx</p>
          <p><i class="fa fa-print me-3"></i> + 094 444 xxxx</p>
        </div>
        <div class="col-md-5 col-lg-2 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            NHẬN THÔNG BÁO
          </h6>
          <p>
            Đăng Ký Nhận Bài Viết Mới Nhất Thông Qua Email
          </p>
          <div>
            <input class="form-control col-4 col-lg-12" placeholder="Email address !">
          </div>
          <div class="mt-3">
            <button class="btn btn-danger">ĐĂNG KÝ</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://thaihocblog.xyz/">thaihocblog.xyz</a>
  </div>
</footer>
